<div class="container">
  <form>
    <br/>
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <label for="upload" class="input-group-addon">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            <input type="file" id="upload" style="display:none">
          </label>
          <input id="email" type="text" class="form-control" name="email" placeholder="File Name">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </span>
        </div>
      </div>
    </div>

    <br/>
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <label for="upload" class="input-group-addon">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            <input type="file" id="upload" style="display:none">
          </label>
          <input id="email" type="text" class="form-control" name="email" placeholder="File Name">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </span>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <label for="upload" class="input-group-addon">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            <input type="file" id="upload" style="display:none">
          </label>
          <input id="email" type="text" class="form-control" name="email" placeholder="File Name">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </span>
        </div>
      </div>
    </div>
  </form>

</div>